{% extends "layout.html" %}
{% block content %}
<div class = "row"> 
	<div class = "column"> 
		<h1>BLASTn</h1>
		<body>
			<form action =' #', method="post">
				<p>Enter FASTA sequence: <br> <textarea rows="6" cols="60" name="post1"></textarea> </p>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="radiobutton" id="" value="option0" checked>
					<label class="form-check-label" for="radiobutton1">
						16S
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="radiobutton" id="radiobutton2"
													value="option1">
					<label class="form-check-label" for="exampleRadios2">
						Whole Genome Sequencing
					</label>
				</div>

				<div class="form-check">
					<input class="form-check-input" type="radio" name="radiobutton" id="radiobutton2"
													value="option2">
					<label class="form-check-label" for="exampleRadios3">
						Assembled Contigs
					</label>
				</div>
				<br>
				<input type="submit">
			</form>

			<div class="col-md-4">
				<div class="content-section">
					<ul class="list-group">
						<a class="nav-item nav-link" href="{{ url_for('_16S_blast_id') }}">Check Subject ID of 16S BLAST Hit Result</a>
					</ul>
					</p>
				</div>
			</div>

	</div>
</div>

{% endblock content %}
