{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
			{% if legend == "SQLExample" %}  

        {% extends "layout.html" %}
        {% block content %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
            <p> .                                                       </p>
            <p> .                                                       </p>
            <p>Custom species name and subject id</p>
                  <p>{{returnString}}</p>
              </div>
            </article>
        {% endblock content %}

    </form>
  </div>
{% endblock content %