<style>
h1 {
  color: #363636;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 350%;
}
p {
  color: black;
  font-family: 'Courier New', monospace;
  font-size: 120%;
}
</style>

</style>
<h1 style="background-color:#b3d9ff;">BLASTn</h1>
<body style="background-color:#faebd7;">
<form action =' #', method="post">
	<p>Enter sequence: <br> <textarea rows="6" cols="60" name="post1"></textarea> </p>

<div class="form-check">
    <input class="form-check-input" type="radio" name="radiobutton" id="" value="option1" checked>
    <label class="form-check-label" for="radiobutton1">
                            16S
    </label>
</div>

<div class="form-check">
    <input class="form-check-input" type="radio" name="radiobutton" id="radiobutton2"
                               value="option2">
    <label class="form-check-label" for="exampleRadios2">
                            Bacterial Genome
    </label>
</div>
<input type="submit">
</form>
