<style>
h1 {
  color: #363636;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 350%;
}
p {
  color: black;
  font-family: 'Courier New', monospace;
  font-size: 120%;
}
</style>
<h1 style="background-color:#b3d9ff;">BLASTn</h1>
<body style="background-color:#faebd7;">
<form action =' #', method="post">
	<p>Enter query sequence: <br> <textarea rows="6" cols="60" name="post1"></textarea> </p>
	<p>Enter subject sequence: <br> <textarea rows="6" cols="60" name="post2"></textarea> </p>
	<p><input type="submit" value="submit" /></p>
</form>
